# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# Large data files (optional)
data/raw/


# Logs
*.log